<%- include("templates/header") %>

<% if (loggedIn) { %>
  <p>Hello, <%= name %>!</p>
  <%- include("buttons/members") %><br/>
  <%- include("buttons/signout") %>
<% } else { %>
  <%- include("buttons/signup") %>
  <%- include("buttons/login") %>
<% } %>

<%- include("templates/footer") %>
